$errorColor: #bd373a;

.fm-wrapper {

    .alert {
        display: none;
        height: 35px;
        line-height: 35px;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: font-size(1.4);
        animation: fadeIn .3s ease-in-out;

        &.error {
            background-color: $errorColor;
            color:#FFF;
        }
    }
}