$borderWidth: 1.8px;

%btn {
    @include focus-border($borderWidth);
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    font-size: font-size(1.6);
    background-color: #FFF;
    color: inherit;
    cursor: pointer;
}

.fm-wrapper {

    .btn-primary {
        @extend %btn;
        background-color: $mainColor;
        color: #FFF;

        &:hover {
            background-color: getHoverColor($mainColor);
        }
    }

    .btn-icon-reset {
        @include focus-border($borderWidth);
        border: 1.8px solid transparent;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }

    .btn-svg {
        border-radius: 4px;

        svg {
            vertical-align: bottom;
            margin-right: 5px;
        }

        .btn-text {
            vertical-align: middle;
        }
    }

    .btn-big-svg {
        svg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }
    }
}