%btn {
    @include focus-border();
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    font-size: font-size(1.6);
    background-color: #FFF;
    color: inherit;
    cursor: pointer;
}

.fm-wrapper {
    .btn-primary {
        @extend %btn;
        background-color: $mainColor;
        color: #FFF;

        &:hover { background-color: darken($mainColor, 7%); }
    }

    .btn-icon-reset {
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        @include focus-border();
    }

    .btn-svg {
        border-radius: 4px;

        svg {
            vertical-align: bottom;
            margin-right: 5px;
        }

        .btn-text {
            vertical-align: middle;
        }
    }
}