%input {
    @include focus-border();
    border-radius: 4px;
    background-color: transparent;
    color: inherit;
}

.fm-wrapper {

    .input-field {
        label {
            display: block;
            margin-bottom: 1rem;
        }

        input {
            @extend %input;
            padding: 10px;
            width: 100%;
            background-color: map_get($colors, 'white');

            &::placeholder {
                color: lighten($textColor, 10%);
            }
        }
    }


}