.fm-wrapper {

    .loading {
        position: relative;
        overflow: hidden;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #EEE;
            z-index: 1;
        }

        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            background: linear-gradient(90deg, transparent, #DDD, transparent);
            animation: loadingAnimation .5s infinite ease-in-out;
            z-index: 2;
        }
    }
}