$modalPadding: 25px;

.fm-wrapper {

    .modal-overlay.show {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#000, .6);
        transition: .5s;
        z-index: 0;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 470px;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 0 0 3px 1px #555;
        transform: translate(-50%, 200%);
        transition: transform .3s ease-out;
        opacity: 0;
        z-index: 999;
        background-color: $mainColor;
        color: #FFF;

        &.show {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        .modal-header, .modal-footer {
            padding: $modalPadding;
        }

        .modal-header {
            position: relative;
            overflow: hidden;

            .close {
                @include vertical-center('absolute');
                right: 10px;
                font-size: 2rem;
            }
        }

        .modal-body {
            background-color: #FFF;
            color: $textColor;
            padding: $modalPadding;
        }

        .modal-footer {
            padding: 15px $modalPadding;
            
            button:not(:last-of-type) {
                margin-right: .5rem;
            }
        }
    }
}