.fm-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;

    * {
        @include font(Arvo);
    }

    button, input {
        @include font(Roboto);
    }

    .main-panel {
        height: 100%;
        width: calc(100% - 270px);
    }

    .svg-icon {
        vertical-align: middle;
        display: inline-block;
    }
}
