.fm-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    @include font(arvo);
    font-size: font-size(1.4);

    main.main-panel {
        height: 100%;
        width: calc(100% - #{$sidebarWidth});

        .toolbar, .table-section {
            border-left: 1px solid $borderColor;
        }

        .table-section {
            height: calc(100% - (#{$footerHeight} + #{$toolbarHeight} + #{$headerHeight}));
        }
    }


    button, input, h1, h2, h3, h4, h5, h6, p {
        @include font(roboto);
        text-transform: capitalize;

        * {
            font-family: inherit;
        }
    }

    button {
        font-size: font-size(1.5);
    }

    button, input[type='button'] {
        text-transform: capitalize;
    }
}
