$sidebarWidth: 270px;

$brandHeight: 70px;
$bottomHeight: 65px;
$filesListHeight: calc(100% - (#{$brandHeight} + #{$bottomHeight}));

.fm-wrapper {

    .sidebar {
        height: 100%;
        width: $sidebarWidth;
        background-color: map_get($colors, 'white');

        .brand {
            height: $brandHeight;
            width: 100%;
            background-color: $mainColor;
            color: #FFF;

            .link {
                height: 100%;
                display: block;

                .name {
                    @include vertical-center();
                    font-size: font-size(3);
                    font-weight: bold;
                    @include font(Arvo);
                    letter-spacing: 1px;
                    color: map_get($colors, 'white');
                }
            }

            .logo {
                height: 95%;
                width: 250px;
            }
        }

        ul.files-list {
            height: $filesListHeight;
            overflow: auto;
            padding: 10px 15px;
            color: $textColor;
            animation: sidebarContentAnimation .2s ease-in;
            //transition: transform;

            li.item {
                padding: 4px;
                cursor: pointer;

                &.dir-item[data-open=false]:hover, &.file-item:hover {
                    opacity: .8;
                }

                &[data-open=false] {
                    .icon-expend {
                        display: none;
                    }
                }

                &[data-open=true] {
                    .icon-contract {
                        display: none;
                    }
                }

                .svg-icon {
                    user-select: none;
                    margin-right: 5px;
                }

                .name {
                    vertical-align: middle;
                }

                .sub-files {
                    transition: all 2s ease;
                    margin-left: 10px;
                }
            }
        }

        .bottom {
            height: $bottomHeight;

            button {
                @include vertical-center();
                width: 70%;
            }
        }
    }
}