$toolbarHeight: 45px;

.fm-wrapper {

    .toolbar {
        position: relative;
        height: $toolbarHeight;
        padding: 0 25px;
        border-bottom: 1px solid $borderColor;
        background-color: map_get($colors, 'white');
        z-index: 0;

        nav {
            ul {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                li.toolbar-item {
                    button {
                        background-color: transparent;
                        border: 1px solid transparent;
                        border-radius: 0;

                        &:hover, &:focus {
                            transition: background-color .3s linear;
                            background-color: #FFF;
                        }

                        svg {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}