html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 16px;
}

// Scoping the reset rules
.fm-wrapper {
  *, *:after, *:before {
    box-sizing: border-box;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}