.fm-wrapper {

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .float-lt {
        float: left;
    }

    .float-rt {
        float: right;
    }

    .svg-icon {
        vertical-align: middle;
    }

    .no-focus {
        &:focus {
            border: none;
            outline: none;
        }
    }

    ul.list-inline li, ol.list-inline li {
        display: inline-block;
    }

    .badge {
        border-radius: 4px;
        padding: 3px 10px;
        background-color: $mainColor;
        color: #FFF;
    }
}