.fm-wrapper {

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .float-lt {
        float: left;
    }

    .float-rt {
        float: right;
    }

    .svg-icon {
        vertical-align: middle;
    }

}