.fm-wrapper {

    .info-list {

        .info-item {

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }

            .info-icon, .info-text {
                vertical-align: middle;
            }

            .info-icon {
                display: inline-block;
                margin-right: 8px;
                height: 24px;

                svg path {
                    fill: $secondaryColor;
                }
            }

            .info-text {
                color: $textColor;
            }
        }
    }
}