.fm-wrapper {

    .move-file-modal {

        .moving-to {
            font-weight: normal;

            .source, .destination {
                white-space: pre;
            }
        }

        .files-section {
            position: relative;
            border: 1.5px solid $borderColor;
            border-radius: 4px;
            margin-top: 25px;
            height: 200px;
            padding: 5px 0;
            z-index: 1;

            .files-list {

                > li.dir-item {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                li.dir-item {
                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                    }

                    &.selected {
                        > .name {
                            color: #FFF;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            margin-top: -5px;
                            width: 100%;
                            height: 30px;
                            background-color: $secondaryColor;
                            z-index: -1;
                        }

                        > svg path {
                            fill: #FFF;
                        }
                    }

                    .sub-files {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

}