// Fonts
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$rootFontSize: 10px;

// Colors
$colors: (
    'blue': #3f4c67,
    'black': #58595b,
    'gray-dark': #e4e6e8,
    'gray-slate': #68808C,
    'white': #f3f3f3,
    'cyan': #71d6fc,
);

$mainColor: map-get($colors, 'blue');
$secondaryColor: map_get($colors, 'gray-slate');
$textColor: map-get($colors, 'black');
$focusColor: map-get($colors, 'cyan');
$borderColor: map_get($colors, 'gray-dark');