// Fonts
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// Colors
$primaryBlue: #3F4C67;
$lightDark: #58595b;
$lightGray: #F1F2F2;

$focusColor: #71d6fc;
$textColor: $lightDark;