// Fonts
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$rootFontSize: 10px;

// Colors
$colors: (
    'black-dark':  #333333,
    'black-light': #58595b,
    'gray-dark': #e4e6e8,
    'gray-slate': #68808C,
    'white': #f3f3f3,
    'blue': #1793d1,
    'cyan': #71d6fc,
);

// Themes
$theme-colors: (
    'dark-red': (
        main: #222,
        secondary: #b52e31,
    ),
    'gray-brown': (
        main: #6d6e70,
        secondary: #8a7967
    )
);

$mainColor: map-get($colors, 'black-dark');
$secondaryColor: map_get($colors, 'blue');
$textColor: map-get($colors, 'black-light');
$focusColor: map-get($colors, 'cyan');
$borderColor: map_get($colors, 'gray-dark');